
<mat-card appearance="outlined">
	<mat-card-header>
		<mat-card-title class="cardTitle">SW Planets with Population Counts</mat-card-title>
	</mat-card-header>

	<mat-list>
		@for (p of planetPopulationsToDisplay; track p) {
			<mat-list-item role="listItem">
				<span matListItemTitle>{{ p.name }}</span>
				<span matListItemMeta>
					{{ p.formattedPopulation }}
					@if (p.formattedPopulation == '1') {
						person
					} @else {
						people
					}
				</span>
			</mat-list-item>
			<mat-divider></mat-divider>
		}
	</mat-list>
	<mat-card-content class="signature">
		by <span class="name">Austin Spriggs</span>
	</mat-card-content>
</mat-card>
