<mat-card class="populationCard" appearance="outlined">
	<mat-card-header>
		<h1>SW Planets with Population Counts</h1>
	</mat-card-header>

	<mat-card-content>
		<mat-list>
			@for (p of planetPopulationsToDisplay; track p) {
				<mat-list-item role="listitem">
					<span matListItemTitle>{{ p.name }}</span>
					<span matListItemContent>
						{{ p.formattedPopulation }}
						@if (p.formattedPopulation == '1') {
							person
						} @else {
							people
						}
					</span>
				</mat-list-item>
			}
		</mat-list>
	</mat-card-content>
</mat-card>
