<mat-card appearance="outlined">
	<mat-card-header>
		<mat-card-title>SW Planets with Distinct Climate</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<br />
		<mat-form-field>
			<mat-label>Climate</mat-label>
			<mat-select
				[value]="selectedClimate()"
				(selectionChange)="selectedClimate.set($event.value)"
			>
				@for (c of climates; track c) {
					<mat-option [value]="c">{{ c }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<ul>
			@for (p of planetsForSelectedClimate(); track p) {
				<li>{{ p }}</li>
			}
		</ul>
	</mat-card-content>
</mat-card>
